<% if logged_in? %>
  <div class="row">
    <div class="small-10 small-centered large-centered columns">
     <h1 class="centered">SEEDS Clipboard</h1>

      <p class="centered">
        Logged in as <%= current_user.name %>&nbsp&nbsp
        <%= link_to '(Log out)', sessions_destroy_path, :method => :delete %>
      </p>
      <div id="shift_index">Loading...</div>
      <%= render 'volunteers/new'%>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="small-10 small-centered large-centered columns">
      <br>
      <br>
      <h1 class="centered">SEEDS Clipboard</h1>
      <br>
      <br>
      <div class="small-4 small-centered large-centered columns">
        <a href="/auth/salesforcesandbox" class="button radius"><%= 'Log in via Salesforce' %></a>
      </div>
    </div>
  </div>
<% end %>
