<h1>Volunteers Scheduled For #{time.day}</h1>

  <% @shifts = Shift.all %>
  <% @today = Date.today.strftime("%B %d")%>
  <% @shifts.each do |s| %>
    <% if s.date == " or "%>
    <%= button_to('Confirm',options = { :action => 'confirm', :params => { :shift_id => s.sf_volunteer_shift_id}})%><strong><%= s.volunteer.name_first %> <%= s.volunteer.name_last %></strong></br>
    <% end %>
<% end %>
