// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered {
  text-align: center;
}

.logoutlink {
  color: #bababa;
}

.floatright {
  float: right;
}

.checklist {
  margin-top: 11px;
}

.signup {

}

.confirmed {
  color: #BABABA;
}

.title {
  display: inline;
  position: relative;
  top: 30px;
}

.logoimg {
  border-radius: 10px;
}

.logohead {
  margin-top: 10px;
}